nav {
  padding: 1em;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

hr {
    border: 8px solid;
}

#face {
  margin: 1em;
  padding: 1em;
}

button {
  margin: 1em;
}

footer {
  margin: 1em;
}

.log {
  height: 60em;
  overflow: auto;
}

.container {
  margin-top: 2em;
}
