body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: cornflowerblue;
}

h1 {
    font-size: 300%;
    color: azure
}

hr {
    border: 8px solid;
    border-color: azure
}

table.table1 {
    margin-left: 100px;
}

table.table2 {
    margin-top: -550px;
    margin-left:1500px;
    background-color: azure;
    border-color:black
    
}
table.table3 {
    margin-top: -100px;
    margin-left: 850px;
    border-color:black
}

th {
    font-size: 200%;
    width:500;
   border-top:4px solid;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-left: 4px solid;
    background-color: azure;
    border-color:black
}

button {
    border-bottom: 4px solid;
    border-top: 4px solid;
    font-size: 125%;
    background-color: azure;
    text-shadow: 3px #ffffff;
}

td {
    border-right: 4px solid;
    border-left: 4px solid;
    border-bottom: 4px solid;
    font-size: 125%;
    background-color: azure;
    border-color: black;
}

